* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

/* layout all */

.app-container {
  height: 100%;
  padding: 32px 150px;
  box-sizing: border-box;
  position: relative;
  background: url(../img/pageBg.png) repeat;
}


/* nav start.. */
.nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-container-box {
  width: 100%;
  height: 45px;
  border-bottom: 2px solid #3670F6;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.nav-li {
  width: 150px;
  height: 100%;
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
  line-height: 45px;
  text-align: center;
  border: 2px solid #3670F6;
  border-bottom: none;
  border-left: none;
  box-sizing: border-box;
  cursor: pointer;
}

.nav-li:nth-of-type(1) {
  border-radius: 30px 0 0 0;
}

.nav-li:nth-of-type(2) {
  border-radius: 0 30px 0 0;
}

.nav-li.active {
  background: linear-gradient(317deg, #010a18 0%, #19A1EE 100%);
  color: #ffffff;
}


/* search start... */

.search-container {
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.serach-li {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.search-label {
  margin-right: 10px;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
}

.search-input {
  width: 180px;
  height: 30px;
  border: 1px solid #222222;
  outline: none;
  padding: 0 5px;
}

.search-input:focus {
  border: 1px solid #19A1EE;
}

.search-input::-webkit-outer-spin-button,
.search-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}


.search-btn {
  width: 80px;
  height: 34px;
  background-color: #19A1EE;
  border-radius: 2px;
  text-align: center;
  line-height: 34px;
  cursor: pointer;
  color: #ffffff;
}

.search-btn:hover {
  opacity: 0.7;
}


.search-btn:active {
  color: aliceblue;
  background-color: #3670F6;
}


/* content start... */
.content-container {
  height: calc(100% - 162px);
}

.content-container .table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}


.content-container .table thead,
.content-container .table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}



.content-container .table th {
  width: 12%;
  height: 45px;
  background-color: #E8F3FF;
  line-height: 45px;
  text-align: center;
  /* text-indent: 2em; */
  border-right: 1px solid #FFFFFF;
}


.content-container .table th:nth-of-type(4) {
  width: 52%;
}

.content-container .table th:nth-of-type(5) {
  border-right: none;
}


.content-container .table tbody {
  width: 100%;
  height: calc(100% - 45px);
  display: block;
  overflow-y: scroll;
  scrollbar-width: none;
}

.content-container .table tbody tr td {
  width: 12%;
  text-align: center;
  border-right: 1px solid #E5E6EB;
  padding: 6px 2px;
  font-weight: 400;
  font-size: 16px;
  color: #222429;
  box-sizing: border-box;
}

.content-container .table tbody tr {
  background-color: #ffffff;
}

.content-container .table tbody tr td:nth-of-type(4) {
  width: 52%;
}

.content-container .table tbody tr:nth-of-type(odd) {
  background-color: #F7F8FA;
  border-bottom: 1px solid #F2F3F5;
}

.content-container .table tbody tr:last-of-type {
  border-bottom: 1px solid #F2F3F5;
}

.pagination{
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  user-select: none;
}

#page-btns{
  display: flex;
  align-items: center;
  margin: 0 10px;
}

#page-btns span{
  margin: 0 5px;
  width: 34px;
  height: 34px;
  text-align: center;
  line-height: 34px;
  cursor: pointer;
  color: #ffffff;
}

.page-active{
  color: #ffffff;
  background-color: #3670F6;
  border-radius: 4px;
}

#totalPages{
  color: #ffffff;
}

.page-btn{
  width: 25px;
  height: 25px;
  cursor: pointer;
}

#pageSize{
  margin: 0 10px;
}